.Map svg {
	height: 100%;
	width: 100%;
}

.Map svg circle {
	stroke: white;
	stroke-width: 1;
}

.Map svg circle:hover {
	stroke: black;
	stroke-width: 2;
}

.Map svg line {
	opacity: 0.3;
	stroke-width: 1;
}

.Map svg line:hover {
	opacity: 1;
	stroke-width: 4;
}

.Map svg text {
	border-radius: 20px;
	font-weight: 400;
	padding: 1px 3px;
	position: absolute;
	white-space: nowrap;
}

.Map svg text:hover {
	cursor: pointer;
	text-decoration: underline;
}
